/* Reset some default styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* Sidebar/Navigation */
.sidebar {
    /* width: 120px; */
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    position: fixed;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding-top: 3rem;
    height: 100%;
}
.sidebar li { /* Space between each sidebar item */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.sidebar li:hover {
    background-color: rgba(211, 211, 211, 0.1);
}

.sidebar a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar i {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar p {
    margin: 0;
}

/* Adjust sidebar width on small screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }

    .sidebar a {
        display: none;
    }

    .content > * {
        padding-left: 0px !important;
    }
}

/* Content */
.content {
    /* padding-left: 10px; */
    transition: margin-left 0.3s;
    box-sizing: border-box;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.content>* {
    padding-left: 150px;
    height: 100dvh;
    scroll-snap-align: start;
}
/* Header/Home */
header {
    background: linear-gradient(to right, #f08080, #8b4b4b);
    color: #fff;
    padding: 50px;
    text-align: center;
}

/* About, Portfolio, Contact Sections */
section {
    padding: 50px;
    background-color: inherit; /* Inherit background color from the body */
    color: #fff;
    text-align: center;
}

/* About Section */
#about {
    background: linear-gradient(to right, #004225, #004225c0);
}

/* Portfolio Section */
#portfolio {
    background-color: #d1c7b8;
    background: linear-gradient(to right, #d1c7b873, #d1c7b8);
}

#project {
    background: blue;
    width: 50vw;
    height: 50vh;
    animation: pulse 4s ease-in-out infinite;
    
}

/* Contact Section */
#contact {
    background: linear-gradient(to right, #fadadd, #fadadd8f);
}





@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: rotate3d(2, 2, 1, 90deg);
    }
    50% {
        transform: rotate3d(1, 1, 1, 90deg);
    }
    75% {
        transform: rotate3d(0, 0, 0, 90deg);
    }
    100% {
        transform: scale(1);
    }
}